@charset "utf-8";
.scroll-ind-top,
.scroll-ind-btm,
.scroll-ind-rgt,
.scroll-ind-lft{
	position:	absolute;
}
.scroll-ind-top{
	top:	0;
	left:	0;
	right:	0;
}
.scroll-ind-btm{
	top:	100%;
	left:	0;
	right:	0;
}
.scroll-ind-top-on{
	
}
.scroll-ind-btm-on{
	
}
.scroll-ind-top-off{
	
}
.scroll-ind-btm-off{
	
}