@charset "utf-8";
#err-001-ico{
	width:				48px;
	height:				48px;
	background-image:	url(../imgs/no_connect.png);
}
#err-001-wyt-lst li{
	margin:	5px 0px;
}
#err-001-dcp-btn{
	margin-left:	5px;
}
#err-001-olu{
	color:	#1d1d1d;
}