@charset "utf-8";
.td-cube{/*width and height pusher, the container*/
	perspective:	200vmax;
}
.td-cube .depth-pusher,
.td-cube .front,
.td-cube .back,
.td-cube .top,
.td-cube .btm,
.td-cube .lft,
.td-cube .rgt{
	position:	absolute;
}
.td-cube .depth-pusher{
	width:				100%;
	top:				0;
	bottom:				0;
	transform-style:	preserve-3d;
	transform:			rotatey(-90deg);/*facing left, where right is the front, and left will be the back*/
}
.td-cube .front,
.td-cube .back{
	width:		100%;
	height:		100%;
}
.td-cube .front{
	transform:	rotatey(90deg);/*facing front*/
}
.td-cube .back{
	transform:	rotatey(-90deg);/*facing back*/
}
.td-cube .lft,
.td-cube .rgt{
	top:		0;
	bottom:		0;
}
.td-cube .lft{
	left:		0;
	transform:	translatex(-50%) rotatey(-90deg);
}
.td-cube .rgt{
	right:		0;
	transform:	translatex(50%) rotatey(90deg);
}
.td-cube .top,
.td-cube .btm{
	width:		100%;
}
.td-cube .top{
	top:		0;
	transform:	translatey(-50%) rotatex(90deg);/*facing top*/
}
.td-cube .btm{
	bottom:		0;
	transform:	translatey(50%) rotatex(-90deg);/*facing btm*/
}