@charset "utf-8";
.tooltip-cnr > .tooltip{
	position:	absolute;
	top:		0;
	width:		100%;
	transition:	top .25s, opacity .25s;
}
.tooltip-cnr > .hvr:not(:hover) + .tooltip{
	top:		-1em;
	opacity:	0;
	visibility:	hidden;
}
/*the tooltip*/
.tooltip-cnr > .hvr:hover + ::after{
    background:		rgba(0, 0, 0, .8);
    border-radius:	5px;
    bottom:			1em;
    color:			rgba(255, 255, 255, .8);
    content:		attr(title);
    left:			0;
    padding:		5px 15px;
    position:		absolute;
}
/*the triangle*/
.tooltip-cnr > .hvr:hover + ::before{
    border:			solid;
    border-color:	rgba(0, 0, 0, .8) transparent;
    border-width:	.6em .5em 0;
    bottom:			.4em;
    content:		"";
    left:			50%;
    position:		absolute;
}
.tooltip-cnr > .tooltip > div{
	pointer-events:	none;
	position:	absolute;
	top:		0;
	width:		1em;
	height:		0;
	left:		50%;
	border-radius:	50%;
	background-color:	rgba(0, 0, 0, .75);
	transition:	top .25s, height .25s, box-shadow .25s;
}
.tooltip-cnr > .hvr:not(:hover) + .tooltip > div{
	top:	1em;
}
.tooltip-cnr > .hvr:hover + .tooltip > div{
	height:		1px;
	box-shadow:	0 0 3px 2px rgba(0, 0, 0, .75);
}