@charset "utf-8";
@import url(../../shared/fonts/bad_grunge.css);
@import url(../../shared/fonts/plank.css);
/*abt ttl*/
.abt-bd{
	z-index:	0;/*create stacking context for inner z-index elements*/
}
.abt-bd > h2{
	font-family:	'Bad Grunge';
	letter-spacing:	.1em;
	font-size:		8em;
	margin:			0;
	color:			#47433a;
	text-align:		right;
	position:	relative;
	z-index:	1;
}
.abt-bd > h2 > span{
	display:	inline-block;
	transform:		rotate(5deg);
}
/*abt ctt cnr*/
.abt-bd > .ctt-cnr{
	padding:	1em 0;
	/*2em is to account for the padding
	8em for the title
	4em is half width of title to leave at bottom*/
	height:		calc(100% - 8em - 4em - 2em);
	border-top:		1px solid black;
	border-bottom:	1px solid black;
	box-shadow:	0 0 3rem 0 rgba(0, 0, 0, .75);
}
.abt-bd > .ctt-cnr,
.abt-bd .ctt{
	background-color:	#47433a;
}
/*black overlay of bg*/
.abt-bd > .bg-overlay{
	position:	absolute;
	top:	0;
	left:	0;
	right:	0;
	bottom:	0;
	background-color: rgba(0, 0, 0, .2);
}
/*abt ctt*/
.abt-bd .ctt{
	overflow:	hidden;
	height:		100%;
	position:	relative;
	z-index:	1;
}
.abt-bd .ctt::before,
.abt-bd .ctt::after{
	content:	"";
	position:	absolute;
	left:		0;
	right:		0;
	height:		1px;
	z-index:	2;
	background-color:	rgba(255, 255, 255, .3);
}
.abt-bd .ctt::before{/*pseudo elms for bevels*/
	top:		0;
}
.abt-bd .ctt::after{/*pseudo elms for bevels*/
	bottom:		0;
}
@media (max-height: 4.5in) {
	.abt-bd  > h2{
		font-size:	2em;
	}
	.abt-bd > .ctt-cnr{
		height:		calc(100% - 2em - 1em - 2em);
	}
}
/*about cnrs styles*/
.abt-bd .ctt > a{
	display: flex;
	position:	absolute;
	top:	0;
	bottom:	0;
	overflow:	hidden;
	width:		100%;
	height:		100%;
	border-left:	.2rem solid #282323;
	border-right:	.2rem solid #282323;
	box-sizing:	border-box;
	/*2 shadows, one for animating the inner, one for outter*/
	box-shadow:	inset 0 0 0 0 rgba(0, 0, 0, .75), 0 0 .5rem .5rem rgba(0, 0, 0, .75);
	text-decoration:	none;
	color:	currentcolor;
	transition:	box-shadow .5s, transform 1s;
}
.abt-shps-cnr{
	justify-content:	flex-end;
	background-color:	hsl(306, 64%, 58%);
}
.abt-sh-cnr{
	background-color:	hsl(197, 64%, 58%);
}
/*abt cnrs bg*/
.abt-bd .ctt > a > .bg-pic{
	position:	absolute;
	top:		0;
	left:		0;
	right:		0;
	bottom:		0;
	background-image:		url(../imgs/bg_pic.png);
	background-repeat:		no-repeat;
	background-size:		cover;
	background-position:	center;
	background-attachment:	fixed;
	transition:	transform 1s;
}
.abt-bd .ctt > .abt-shps-cnr > .bg-pic{
	transform-origin:	bottom right;
}
.abt-bd .ctt > .abt-sh-cnr > .bg-pic{
	transform-origin:	top left;
}
/*abt cnrs title styles*/
.abt-bd .ctt > a > h3{
	max-height:	80%;
	font-family:	Plank;
	color:	white;
/*	white-space:	pre-line;*/
	text-align:		center;
	font-size:	2.5em;
	margin:	.25em .6em;
	transition:	transform 3s cubic-bezier(0, 1, 0, 1) 1s, opacity 1.5s ease 1s, color .5s, text-shadow .5s;
	display:			flex;
	flex-direction:		column;
}
@media (max-width: 4in), (max-height: 7in) {
	.abt-bd .ctt > a > h3{
		font-size:	1.3em;
	}
}
.abt-shps-cnr > h3{
	/*to take into account that the font protrudes to the right
	the right margin will be greater than the left*/
	margin-right:	1em!important;
}
.abt-bd .ctt > a:first-of-type > h3{
	align-self:	flex-end;
}
.abt-bd .ctt > a > h3 > span{
	display:	block;
	transition:	transform 1s;
	white-space:	pre;
}
/*abt cnrs ctt styles*/
.abt-bd .ctt > a > .ctt{

}
/*abt cnrs gloss styles*/
.abt-bd .ctt > div{
	z-index:	2;
	pointer-events: none;
	position:	absolute;
	top:		0;
	left:		0;
	width:		100%;
	height:		70%;
	background: radial-gradient(ellipse farthest-corner at bottom right, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, .04) 0%, rgba(255, 255, 255, 0) 100%);
}
/*abt cnrs unclicked and unhovered styles*/
.abt-bd .ctt > a.skewed:not(:hover) {
	box-shadow:	inset -.4rem -.4rem 5.5rem 0 rgba(0, 0, 0, .75), 0 0 0 0 rgba(0, 0, 0, .75);
}
.abt-bd .ctt > a.skewed:not(:hover) > h3{
	color:	rgba(255, 255, 255, .5);
}
.abt-bd .ctt > a.skewed.abt-shps-cnr:not(:hover) > h3{
	text-shadow:	.5rem .5rem .5rem hsla(306, 64%, 30%, .75);
}
.abt-bd .ctt > a.skewed.abt-sh-cnr:not(:hover) > h3{
	text-shadow:	.5rem .5rem .5rem hsla(197, 64%, 30%, .75);
}
/*abt cnrs unclicked (skewed) styles (both hovered and not hovered)*/
/*element that has both skewed class and abt-shps-cnr class*/
.abt-bd .ctt > .abt-shps-cnr.skewed{
	transform:	translatex(-50%) skew(15deg);
}
.abt-bd .ctt > .abt-sh-cnr.skewed{
	transform:	translatex(50%) skew(15deg);
}
.abt-bd .ctt > a.skewed > .bg-pic{
	transform: skew(-15deg);
}
/*about cnrs unclicked but hvred styles*/
.abt-bd .ctt > a.skewed:hover{
	z-index:	1;
}
/*abt cnrs clicked styles*/
.abt-bd .ctt > .on-top{
	z-index:	1;/*a dedicated z-index for when cnr animates between clicked and unclicked*/
}
.abt-bd .ctt > a:not(.skewed) > h3 > span{
	transform: skew(15deg);
}
/*abt cnrs initial styles (pre-intro)
initial styles must be at last so it would replace other styles
this is the css rule of last style replacing previouse ones
, so the logic is: init replace clicked, replace hovered, replace unclicked*/
.abt-bd .ctt > .abt-shps-cnr.init{
	transform-origin:	bottom;
	transform:			translatex(-100%) skew(15deg);
}
.abt-bd .ctt > .abt-sh-cnr.init{
	transform-origin:	top;
	transform:			translatex(100%) skew(15deg);
}
.abt-bd .ctt > .abt-shps-cnr.init > h3{
	transform:	translatey(-100%);
	opacity:	0;
}
.abt-bd .ctt > .abt-sh-cnr.init > h3{
	transform:	translatey(100%);
	opacity:	0;
}

#abt-pnls-cnr{
	margin:			80px 0px 50px 0px;
	white-space:	nowrap;
}
.abt-pnl-cnr{
	
}
.abt-pnl{
	position:			relative;
	display:			block;
	padding:			10px;
	background-image:	url(../imgs/abt_pnl_nrm_shadow.png);
	background-repeat:	no-repeat;
	margin:				-10px;
	text-decoration:	none;
	line-height:		0;
}
.abt-pnl:hover{
	padding:			25px;
	background-image:	url(../imgs/abt_pnl_hvr_shadow.png);
	margin:				-25px;
}
#abt-pnl-shps-pic{
	
}
.abt-pnl-rgt{
	background-image:	url(../imgs/abt_pnl_base.jpg);
	width:				240px;
	height:				240px;							/* width and height after padding */
	padding:			5px 5px 5px 5px;
	vertical-align:		top;							/* needed for proper align of 2 inline elements which 1 has texts inside and the other does not */
	white-space:		normal;
	line-height:		normal;
	color:				#ffffff;
	text-shadow:		#000000 -1px -1px 0px;
}
.abt-pnl-rgt>h3{
	font-size:	24px;
}
.abt-pnl-rgt>p{
	font-weight:	bold;
	font-family:	arial;
	font-size:		14px;
}
#abt-pnl-shps-pic,
.abt-pnl-rgt,
#abt-pnl-sh-pic{
	background-repeat:	no-repeat;
	display:			inline-block;
}
#abt-pnl-shps-pic,
#abt-pnl-sh-pic{
	width:				450px;
	height:				250px;
}
#abt-pnl-sh-pic{
	
}