@charset "utf-8";
body{
	white-space:	nowrap;
	position:		absolute;
	color:			orange;
}
body > :not(.thead){
	white-space: initial;
}
#msg-cnr{
	background-color:	rgba(255, 255, 255, .8);
	position:	sticky;
	top:		0;
	left:		0;
	width:		95vw;
	z-index:	1;
	word-wrap:	break-word;
	color:			hsl(30, 100%, 21%);
}
#msg-cnr > span{
	margin:	.5em;
}
.thead{
	position:	sticky;
	top:		0;
	white-space:	nowrap;
	background-color:	rgba(255, 255, 255, .9);
}
.thead > td,
.tkr-col > tr > td,
.tbody > tr > td{
	display:	inline-block;
	width:	7em;
	white-space:	initial;
	word-wrap:	break-word;
}
.tkr-col,
.tbody{
	display:		inline-block;
	vertical-align:	top;
	color:			hsl(30, 100%, 21%);
}
.tkr-col{
	position:	sticky;
	left:		0;
	background-color:	rgba(255, 255, 255, .8);
}
.tkr-col > tr,
.tbody > tr{
	display:	block;
	white-space: nowrap;
	height:	4em;
	overflow: hidden;
}
.se-sortable{
	cursor:	pointer;
}
.tbody input{
	width:	100%;
}
