@charset "utf-8";
#basic-bg{
	position:	absolute;
	top:		0;
	left:		0;
	right:		0;
	bottom:		0;
	background-position:	top center;
	background-repeat:		repeat;
	background-image:		url(../imgs/bg_ptn.jpg);
}