@charset "utf-8";
@import url("../logo/stt/csss/stt.css");
.logo-cnr{
	position:	relative;	/* required for inner elements' positionings */
	width:		1024px;
	margin:		0px auto;
}
div.logo{
	background-image:	url(../imgs/logo_lgt.png);
	background-repeat:	no-repeat;
	float:				right;
}
.logo-cnr:after{/* 			single colon for ie compatibility, but otherwise double colon :: */
	content:	"";
	display:	block;		/* must be block for clear both to work, not even inline-block */
	height:		0px;
	width:		0px;
	clear:		both;
	visibility:	hidden;
}
.lgo-stt-wpr{
	margin-top:		77px;
	margin-left:	400px;
}
h1.logo{
	margin:	0px;
}
a.logo{
	display:			block;
	font-size:			0px;
	font-weight:		normal;
}
img.logo{
	background-image:	url(../imgs/logo.png);
	background-repeat:	no-repeat;
	width:				358px;
	height:				63px;
}
.lgo-stt{
	margin-left:	150px;
	color:			#a0a0a0;
	font-size:		24px;
	font-style:		italic;
}