.fade-in-norm{
	transition:		opacity 1.5s ease-in;
}
.fade-in-fast{/*is kind of bad, because it's so fast you might as well not fade*/
	transition:	opacity .5s;
}
.fade-in-intro-fast{
	transition:	opacity 1s;
}
//typing
@keyframes caret-flash{
	from{
		opacity:	0;
	}
	to{
		opacity: 	1;
	}
}
.type-speed{
    transition: width 3s, max-width 4s;
}
.caret-flash{
    animation:                  caret-flash .5s;
    animation-iteration-count:	infinite;
    animation-direction:        alternate;
}
//end typing

//hover
@keyframes hvr-bg-bfr-active{
	0%{
		opacity: 	.3;
	}
	100%{
		opacity: 	0;
	}
}
.hvr-bg-bfr{
	isolation: isolate;
	
	&::before{
		content: "";
		position: 	absolute;
		top: 		0;
		left: 		0;
		right: 		0;
		bottom: 	0;
		transform: 	scale(0);
		border-radius: 50%;
		transition: transform .25s, border-radius .25s;
		opacity: .8;
		z-index: -1;
	}

	&:hover::before{
		border-radius: 0;
		transform: none;
	}

	&:active::before{
		transform: scale(1.2);
		animation: hvr-bg-bfr-active 1s;
		animation-fill-mode: forwards;
	}
}
