@charset "utf-8";
@import url("../../mblur/csss/mblur.css");
.to-top-cnr{
	min-width:	2cm;
	width:		10vmin;
	position:	relative;
}
/* active image preload */
.to-top-cnr::after{
	position:	absolute;
	top:		0;
	left:		0;
	width:		0;
	height:		0;
	opacity:	0;
	visibility:	hidden;
	overflow:	hidden;
	content:	url(../imgs/btn/sdw.png) url(../imgs/btn/glow.png);
}
.to-top-cnr .sdw-img-wpr{
	position:	absolute;
	width:		100%;
	height:		100%;
}
.to-top-cnr .sdw-img{
	position:			absolute;
	top:				0;
	left:				0;
	right:				0;
	bottom:				0;
}
.to-top-cnr .sdw-img,
.to-top-cnr .to-top{
	background-image:	url(../imgs/btn/norm.png);
	background-repeat:	no-repeat;
	background-size:	contain;
}
.to-top-cnr .to-top{
	position:			relative;
	padding-bottom:		100%;
}
.to-top-cnr .to-top:hover{
	background-image: url(../imgs/btn/glow.png), url(../imgs/btn/norm.png);
}
.to-top-cnr .to-top:active{
	background-image: url(../imgs/btn/sdw.png), url(../imgs/btn/norm.png);
}