@charset "utf-8";
@import url("ftr.css");
.bd-wpr-ptfl-article{
	position:		absolute;
	left:			0;
	right:			0;
	top:			0;
	bottom:			0;
	perspective:	200vw;
	overflow-x:		hidden;
	overflow-y:		auto;
}