@charset "utf-8";
.bg-tdcubes{
	position:	absolute;
	top:		0;
	left:		0;
	right:		0;
	bottom:		0;
	perspective:	200vmax;
}
.bg-tdcubes > div{
	perspective: none!important;
	min-width:	1cm;
	min-height:	1cm;
}