@charset "utf-8";
.contour-tl{
	pointer-events:	none;
	width:				5px;
	height:				5px;
	background-repeat:	no-repeat;
	background-image:	url(../imgs/tl.png);
	position:			absolute;
	top:				0px;
	left:				0px;
}
.contour-top{
	pointer-events:	none;
	height:				5px;
	background-repeat:	repeat-x;
	background-image:	url(../imgs/top.png);
	position:			absolute;
	top:				0px;
	left:				5px;
	right:				6px;
}
.contour-tr{
	pointer-events:	none;
	width:				6px;
	height:				5px;
	background-repeat:	no-repeat;
	background-image:	url(../imgs/tr.png);
	position:			absolute;
	top:				0px;
	right:				0px;
}
.contour-lft{
	pointer-events:	none;
	width:				5px;
	background-repeat:	repeat-y;
	background-image:	url(../imgs/lft.png);
	position:			absolute;
	top:				5px;
	left:				0px;
	bottom:				6px;
}
.contour-rgt{
	pointer-events:	none;
	width:				6px;
	background-repeat:	repeat-y;
	background-image:	url(../imgs/rgt.png);
	position:			absolute;
	top:				5px;
	right:				0px;
	bottom:				6px;
}
.contour-bl{
	pointer-events:	none;
	width:				5px;
	height:				6px;
	background-repeat:	no-repeat;
	background-image:	url(../imgs/bl.png);
	position:			absolute;
	left:				0px;
	bottom:				0px;
}
.contour-btm{
	pointer-events:	none;
	height:				6px;
	background-repeat:	repeat-x;
	background-image:	url(../imgs/btm.png);
	position:			absolute;
	left:				5px;
	bottom:				0px;
	right:				6px;
}
.contour-br{
	pointer-events:	none;
	width:				6px;
	height:				6px;
	background-repeat:	no-repeat;
	background-image:	url(../imgs/br.png);
	position:			absolute;
	bottom:				0px;
	right:				0px;
}