@charset "utf-8";
.omc{
	overflow:		hidden;
}
.omc > div{
	white-space:	nowrap;
	display:		table;
	height:			100%;
	float:			right;
}
.omc > div > div{
	display:		table-cell;
	height:			100%;
	vertical-align:	top;
	position:		relative;
}
.omc > div > div > .pane-bd{
	position:		relative;
}
.omc > div > div > .pane-bd-trans{
	transition:		width 1s, max-height 1s, min-height 1s;
}
.omc > div > div > .cvr{
	position:			absolute;
	top:				0;
	left:				0;
	right:				0;
	bottom:				0;
	cursor:				pointer;
}
.omc .of-hid{
	overflow:	hidden;
}
.omc .of-auto{
	overflow: auto;
}
.omc div.closed{
	width:		0;
}